/* NAVIGATION */
.navbar {
    margin:50px;
    display:flex;
    align-items:center;
}
.home {
    text-decoration:none;
    color:black;
}
.home h1:hover {
    color:#BD8D69;
    text-decoration:none;
}
.name {
    flex-grow:2;
}
.name h1 {
    font-size:22px;
    font-family:Helvetica, sans-serif;
    font-weight:normal;
    letter-spacing: 1px;
}
ul {
    list-style:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:25px;
    padding:0px;
}
.menu li {
    display:inline;
    text-align:center;
    padding:20px 8px;
}
a .about_link {
    margin-left:60px;
}
a:hover {
    text-decoration:none;
}
.navbar a, .social_links a {
    position:relative;
    text-decoration:none;
}
.about_link {
    text-decoration:none;
    color:black;
    margin-left: 60px;
    padding-bottom:10px;
}
.about_link:hover{
    text-decoration:none;
    color:#BD8D69;
    font-weight:700;
}
a:before {
    content:"";
    position: absolute;
    width:100%;
    height:3px;
    bottom:0;
    left:0;
    background:#BD8D69;
    visibility:hidden;
    border-radius:5px;
    transform:scaleX(0);
    transition:.25s linear;
}
.menu a:hover:before, .social_links a:hover:before, 
.menu a:focus:before, .social_links a:focus:before {
    visibility:visible;
    transform:scaleX(1);
    text-decoration:none;
}

/* HEADING PHOTO */
.row1{
    margin-top:-50px;
    transform: translateY(50px);
    opacity: 0;
}
.leftside {
    display:flex;
    align-items: center;
    justify-content: center;
}
.hopeforpaws_left {
    width:650px;
    position:relative;
}
.hopeforpaws_left_text {
    display:flex;
    align-items: center;
    padding-left:80px;
}
.hopeforpaws_left_text h1 {
    font-family: 'Amiri',serif;
    font-size: 80px;
    font-weight: 700;
}
.header {
    font-family: helvetica,sans-serif;
    font-size:36px;
    font-weight:700;
}
.bodytext{
    font-size:17px;
}
.info {
    padding-left:20px;
}


/* MULTIPLE */
.r {
    margin-top:50px
}
.paragraph {
    max-width: 768px;
    margin: 0 auto;
    font-size:17px;
    text-align:left;
    font-family:helvetica,sans-serif;
}
.quote {
    font-style:italic;
    font-size: 28px;
    text-align:center;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.54);
    line-height:44px;
}
.blockquote {
    font-style:italic;
    font-size: 25px;
    text-align:center;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.54);
    line-height:44px;
}
.title {
    font-size:22px;
    font-family:helvetica, sans-serif;
    font-weight:700;
    line-height:60px;
}
.bodytitle {
    font-size:30px;
    font-family:helvetica,sans-serif;
    margin:0 auto;
    text-align:left;
    max-width: 768px;
}
.bold {
    font-weight: 700;
}

/* OVERVIEW*/
.casestudy_container {
    max-width:768px;
    margin:0 auto;
}
.case_study {
    background-color:#FFEBE2;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    font-size:22px;
    font-family:helvetica, sans-serif;
    font-weight:700;
    line-height:60px;
}
.bold {
    font-weight: 700;
    font-size:12px;
    letter-spacing: 4px;
}
.overview {
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* BACKGROUND */

.background {
    margin-top:50px;
}
.center {
    display:flex;
    align-items: center;
    justify-content: center;
}
.initial-quescont{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hfp-initial-ques {
    width:120%;
}
/*Testing*/

/*ROW 2 RESEARCH / INTERVIEW*/
.hfp_interview {
    width:60.6%;
    transform: translateY(50px);
    opacity: 0;
}
.interview {
    text-align:left;
    justify-content: center;
    align-items: center;
    display:flex;
    margin:60px 0px;
    flex-direction: column;
}

/* key takeaways */
.hfpteam {
    width:100%;
}
.keytake {
    margin-top:50px;
    background:#FFEBE2;
    padding:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}


/*USER PERSONA */
.hfppersona {
    width: 55.6%;
    transform: translateY(50px);
    opacity: 0;
}
.persona_container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:60px 0px;
}

/* Competitor Analysis */
.hfp_comp {
    width:70.6%;
}
.hfpcomp_container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.hfp_graph {
    width:55.6%;
}
/* SWOT Analysis */
.swot_container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.hfp_swot {
    width:70.6%;
    transform: translateY(50px);
    opacity: 0;
}

/* Sketching & Wireframes */
.hfpwireframe_container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.hfp_wireframe {
    width:60.6%;
}

/* Userflow */
.userflow_container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.hfp_userflow {
    width:60.6%;
}

/* User interviews */
.card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    color:blue;
}

/*Iterations */
.iteration-split{
    display:flex;
    justify-content: center;
    align-items: center;
}
.iterationimg {
    width:100%;
}











/*FOOTER*/
.footer {
    display:flex;
}
.s {
    padding:10px;
    width:50px;
}
.s:hover {
    padding: 10px;
    background-color: #F8F1E2;
}
.social_links {
    display:flex;
}
.footer_note {
    flex-grow:2;
    display:flex;
    align-items:center;
}
.footer_note h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left:50px;
}
@media only screen and (max-width:600px) {
    .footer {
        flex-direction:column;
        display:flex;
    }
    .footer_note {
        justify-content: center;
    }
    .social_links {
        justify-content:center;
    }
}
.anim {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s ease-out, transform 1s;
}